Repository hashgraph/guardian, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/envision-blockchain-hedera, @hashgraph/guardian-committers, @hashgraph/guardian-maintainers, @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates

fix: dropdown in settings policy[3141]
  frontend/src/app/modules/policy-engine/policy-configuration/policy-settings/policy-settings.component.html
  frontend/src/app/modules/policy-engine/policy-configuration/policy-settings/policy-settings.component.scss
  frontend/src/app/modules/policy-engine/policy-configuration/policy-settings/policy-settings.component.ts
Owners: @hashgraph/guardian-committers, @hashgraph/guardian-maintainers

Create Readme.md
  Methodology Library/American Carbon Registry/ACR Landfill/Readme.md
Owners: @hashgraph/envision-blockchain-hedera

Add files via upload
  Methodology Library/American Carbon Registry/ACR Landfill/ACM0007 Schema Design with Sample Data.xlsx
  Methodology Library/American Carbon Registry/ACR Landfill/ACR Landfill Policy Schemas.xlsx
  Methodology Library/American Carbon Registry/ACR Landfill/Emission Reductions Data Sample 1.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Environmental Assessment Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Monitoring Report Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Project Developer Account Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Project Listing Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Project Plan Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/VVB 1 Account Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/VVB 1 COI Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Validation Opinion Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Validation Report Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Verfication Report Data.txt
  Methodology Library/American Carbon Registry/ACR Landfill/Verification Opinion Data.txt
Owners: @hashgraph/envision-blockchain-hedera

Create readme.md
  Methodology Library/Climate Action Reserve/readme.md
Owners: @hashgraph/envision-blockchain-hedera

WIP: 2 2243
  api-gateway/src/api/service/contract.ts
  api-gateway/src/helpers/guardians.ts
  frontend/src/app/modules/policy-engine/policy-viewer/blocks/report-block/report-block.component.ts
  frontend/src/app/services/contract.service.ts
  guardian-service/src/api/contract.service.ts
  interfaces/src/type/messages/contract-api.type.ts
Owners: @hashgraph/guardian-committers, @hashgraph/guardian-maintainers

Move US Landfill policy to CAR folder.
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Regulatory Compliance.txt
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Title.txt
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Voluntary Implementation.txt
  Methodology Library/Climate Action Reserve/US Landfill/Emission Reductions.txt
  Methodology Library/Climate Action Reserve/US Landfill/NOVA COI.txt
  Methodology Library/Climate Action Reserve/US Landfill/Project Data Report.txt
  Methodology Library/Climate Action Reserve/US Landfill/Project Submittal.txt
  Methodology Library/Climate Action Reserve/US Landfill/U.S. Landfill Protocol Import Ready.xlsx
  Methodology Library/Climate Action Reserve/US Landfill/U.S. Landfill Protocol.policy
  Methodology Library/Climate Action Reserve/US Landfill/Verification Report.txt
  Methodology Library/Climate Action Reserve/US Landfill/readme.md
  Methodology Library/GHG Methodology/US Landfill/Attestation of Regulatory Compliance.txt
  Methodology Library/GHG Methodology/US Landfill/Attestation of Title.txt
  Methodology Library/GHG Methodology/US Landfill/Attestation of Voluntary Implementation.txt
  Methodology Library/GHG Methodology/US Landfill/Emission Reductions.txt
  Methodology Library/GHG Methodology/US Landfill/NOVA COI.txt
  Methodology Library/GHG Methodology/US Landfill/Project Data Report.txt
  Methodology Library/GHG Methodology/US Landfill/Project Submittal.txt
  Methodology Library/GHG Methodology/US Landfill/Verification Report.txt
Owners: @hashgraph/envision-blockchain-hedera

Move US Landfill policy to CAR folder. (#4473)
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Regulatory Compliance.txt
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Title.txt
  Methodology Library/Climate Action Reserve/US Landfill/Attestation of Voluntary Implementation.txt
  Methodology Library/Climate Action Reserve/US Landfill/Emission Reductions.txt
  Methodology Library/Climate Action Reserve/US Landfill/NOVA COI.txt
  Methodology Library/Climate Action Reserve/US Landfill/Project Data Report.txt
  Methodology Library/Climate Action Reserve/US Landfill/Project Submittal.txt
  Methodology Library/Climate Action Reserve/US Landfill/U.S. Landfill Protocol Import Ready.xlsx
  Methodology Library/Climate Action Reserve/US Landfill/U.S. Landfill Protocol.policy
  Methodology Library/Climate Action Reserve/US Landfill/Verification Report.txt
  Methodology Library/Climate Action Reserve/US Landfill/readme.md
  Methodology Library/GHG Methodology/US Landfill/Attestation of Regulatory Compliance.txt
  Methodology Library/GHG Methodology/US Landfill/Attestation of Title.txt
  Methodology Library/GHG Methodology/US Landfill/Attestation of Voluntary Implementation.txt
  Methodology Library/GHG Methodology/US Landfill/Emission Reductions.txt
  Methodology Library/GHG Methodology/US Landfill/NOVA COI.txt
  Methodology Library/GHG Methodology/US Landfill/Project Data Report.txt
  Methodology Library/GHG Methodology/US Landfill/Project Submittal.txt
  Methodology Library/GHG Methodology/US Landfill/Verification Report.txt
Owners: @hashgraph/envision-blockchain-hedera

fix: stepper and dropdowns in policy wizard[3141]
  frontend/src/app/modules/common/step-tree/step-tree.component.ts
  frontend/src/app/modules/policy-engine/dialogs/policy-wizard-dialog/policy-wizard-dialog.component.html
Owners: @hashgraph/guardian-committers, @hashgraph/guardian-maintainers

WIP 3: 2243
  api-gateway/src/api/service/contract.ts
  api-gateway/src/helpers/guardians.ts
  frontend/src/app/modules/policy-engine/policy-viewer/blocks/report-block/report-block.component.ts
  frontend/src/app/services/contract.service.ts
  guardian-service/src/api/contract.service.ts
Owners: @hashgraph/guardian-committers, @hashgraph/guardian-maintainers

chore: Update Dependabot configuration to improve usability (#4468)
  .github/dependabot.yml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/envision-blockchain-hedera

############################
#####  Project Files  ######
############################

*/src/**                                         @hashgraph/guardian-committers @hashgraph/guardian-maintainers
*/tests/**                                       @hashgraph/guardian-committers @hashgraph/guardian-maintainers


#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/guardian-committers

# NodeJS project files
package.json                                    @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/developer-advocates @hashgraph/guardian-committers
package-lock.json                               @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/developer-advocates @hashgraph/guardian-committers
jest.config.mjs                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/developer-advocates @hashgraph/guardian-committers

# Codacy Tool Configurations
/config/                                        @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/developer-advocates
.remarkrc                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/developer-advocates

# Semantic Release Configuration
.releaserc                                      @hashgraph/devops-ci @hashgraph/devops-ci-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering-managers @hashgraph/guardian-maintainers
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/guardian-maintainers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/devops-ci @hashgraph/devops-ci-committers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering-managers
